* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
}

body {
    display: inline-block;
    background-color: #546F8F;
    font-family: 'Lexend Deca', sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    width: 10%;
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(124,86,91,0.9);
    margin-top: 0px;
    padding-left: 3px;
    border-radius: 0px 0px 10px 0px;
    border: 3px solid #637c99;
    border-top: none;
    border-left: none;
    height: 40px;
}

a {
    color: #ebebeb;
    text-decoration: none;
}

.hamburger_image {
    width: 30px;
    height: 30px;
    padding: none;
    margin: none;
}

.menu_view {
    width: 100%;
    display: none;
}

.nav {
    width: 92%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    background-color: rgba(124,86,91,0.9);
    border: 3px solid #637c99;
    border-left: none;
    border-top: none;
    border-radius: 0px 0px 10px 0px;
    height: 40px;
    font-size: 14pt;
}

.nav_toggle {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: none;
    background-color: rgba(124,86,91,0.9);
}

header:nth-last-child() {
    margin-right: 2em;
}

main {
    display: block;
    color: #ebebeb;
    line-height: 20pt;
    font-size: 12px;
    width: 100%;
    padding: none;
    margin: none;
    border: none;
}

section {
    width: 94%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(124,86,91,0.9);
    border: 3px solid #637c99;
    border-radius: 10px 10px;
}

hr {
    width: 90%;
}

.hero {
    margin-top: 55px;
    display: flex;
}

.hero_text {
    width: 100%;
    display: inline-block;
    margin: 10px;
}

.hero_text_name {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 28pt;
    text-decoration: underline;
    line-height: 40px;
}

.hero_text_paragraph {
    margin-right: auto;
    margin-left: auto;
    font-size: 16pt;
    text-align: center;
}

.hero_photo {
    margin: 15px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.bodyshot {
    width: 140px;
    height: 200px;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid #ebebeb;
}

.headers {
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;
    padding: 6px;
}

.description {
    text-align: left;
    font-size: 14pt;
    line-height: 30px;
    text-justify: distribute;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio {
    display: flex;
    flex-direction: column;
}

.app_title {
    text-align: center;
    font-size: 24pt;
}

.app_separater {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14pt;
}

.app_screenshot {
    height: 140px;
    width: 230px;
    border: 2px solid #ebebeb;
    border-radius: 10px 10px 10px 10px;
}

.tech_divide {
    width: 50%;
}

.app_techs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 12pt;
}

.app_techs img:hover {
    cursor: unset;
}

footer {
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7C565B;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #637c99;
    border-bottom: none;
}

footer h2 {
    font-size: 1em;
    padding-left: 10px;
    /*color: #ebebeb;*/
}

.icon {
    width: 35px;
    height: 35px;
    padding-top: 5px;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {

    header {
        display: none;
    }

    .menu_view {
        display: flex;
    }

    .nav {
        display: flex;
        width: 100%;
        font-size: 30pt;
        text-decoration: none;
        height: 80px;
        border-radius: 0px 0px 0px 0px;
        border-right: none;
    }

    .nav_toggle {
        display: flex;
        align-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: none;
    }
    
    section {
        width: 80%;
        border-radius: 15px 15px 15px 15px;
    }
    
    hr {
        width: 80%;
        margin-top: 35px;
        margin-bottom: 35px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .hero {
        margin-top: 120px;
        display: flex;
    }

    .hero_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hero_text_name {
        text-align: center;
        font-size: 45pt;
        /*border: 3px solid black;*/
    }
    
    .hero_text_paragraph {
        font-size: 30pt;
        text-align: center;
        width: 70%;
        line-height: 80px;
        padding: 15px;
    }
    
    .bodyshot {
        height: 550px;
        width: 365px;
    }
    
    .headers {
        text-align: center;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        font-size: 4em;
        padding: 0.7em;
    }
    
    .bio {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .description {
        font-size: 22pt;
        padding: 15px 30px;
        line-height: 45px;
    }
    
    .portfolio {
        display: block;
        margin-bottom: 40px;
    }
    
    .app_title {
        text-align: center;
        font-size: 34pt;
        text-decoration: underline;
    }
    
    .app_separater {
        display: block;
        margin: 5px;
        width: 100%;
    }
    
    .app_text {
        display: flex;
        font-size: 28px;
        line-height: 45px;
        padding: 15px 30px;
    }
    
    .app_screenshot {
        height: 400px;
        width: 580px;
    }

    .app_screenshot:hover {
        cursor: pointer;
    }
    
    .app_techs {
        display: flex;
        text-align: center;
        width: 100%;
        font-size: 30pt;
        padding: none;
    }
    
    footer {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border-radius: 0px;
        border-left: none;
        margin-right: none;
        height: 80px;
    }
    
    footer h2 {
        font-size: 30pt;
        margin: 0px;
    }

    .icon {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 1400px) {
    * {
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .nav {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        border: 10px solid #637c99;
        border-top: none;
        border-radius: 0px 0px 20px 20px;
    }
    
    section {
        width: 70%;
        padding: 5px;
        border: 10px solid #637c99;
        border-radius: 20px;
    }
    
    hr {
        width: 60%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .headers {
        text-align: center;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        font-size: 4em;
        padding: 0.7em;
    }

    .description {
        padding: 45px;
    }

    footer {
        width: 70%;
        border: 10px solid #637c99;
        border-bottom: none;
        border-radius: 20px 20px 0px 0px;
    }
    
    footer h2 {
        padding-left: 10px;
    }
}