* {
    box-sizing: border-box;
}

body {
    display: inline-block;
    /*background-color: #546F8F;*/
    font-family: 'Lexend Deca', sans-serif;
    width: 100%;
    margin: none;
    padding: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    align-self: center;
    top: 0;
    /*background-color: #7C565B;*/
    background-color: #808080;
    padding: 0px 10px;
    margin-top: 0px;
    font-size: 1.4em;
    margin-right: none;
    margin-left: none;
}

header a {
    text-decoration: none;
    color: black;
    /*color: #ebebeb;*/
}

header :nth-last-child() {
    margin-right: 2em;
}

main {
    display: block;
    /*color: #ebebeb;*/
    line-height: 20pt;
    font-size: 12px;
}

section {
    width: 90%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #7C565B;*/
    /*border: 3px solid #637c99;*/
    background-color: #a8a8a8;
    box-shadow: 2em;
}

hr {
    width: 90%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.hero {
    margin-top: 100px;
    display: flex;
    padding: 1em;
}

.hero_text {
    width: 70%;
    display: flex;
    margin: 10px;
    background-color: #c8c8c8;
}

.hero_text_name {
    width: 30%;
    text-align: center;
    font-size: 3.3em;
    line-height: 2.2em;
    border: 3px solid black;
    margin-left: 0.4em;
}

.hero_text_paragraph {
    padding: 3px;
    padding-left: 25px;
    font-size: 2.6em;
    width: 65%;
    line-height: 1.7em;
}

.hero_photo {
    margin: 10px;
    margin-left: 2.4em;
    background-color: #c8c8c8;
    width: 14em;
    height: 21em;
}

.headers {
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #a8a8a8;
    font-size: 4em;
    padding: 0.7em;
}

.bio {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bio_top {
    display: flex;
    background-color: #c8c8c8;
    margin: 3px;
}

.bio_title {
    width: 20%;
    text-align: center;
    /*border: 3px solid #ebebeb;*/
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 25px;
    padding-top: 5em;
    border-right: 3px solid black;
    background-color: #e8e8e8;
    font-size: 3em;
}

.bio_technical {
    padding-left: 2em;
    background-color: #e8e8e8;
    padding: 10px;
    padding-right: 20px;
    margin: 3px;
    font-size: 2.3em;
    line-height: 1.5em;
    border-right: 3px solid black;
}

.bio_bottom {
    background-color: #c8c8c8;
    margin: 3px;
    margin-left: 10px;
}

.bio_personal {
    padding: 5px;
    margin: 3px;
    background-color: #e8e8e8;
    font-size: 2.3em;
    line-height: 1.5em;
}

.portfolio {
    display: block;
    margin-bottom: 40px;
}

.app_title {
    text-align: center;
    font-size: 2.6em;
}

.app_separater {
    display: block;
    margin: 5px;
    width: 90%;
}

.app_text {
    display: flex;
    font-size: 2.3em;
    line-height: 1.5em;
    padding: 1em;
}

.app_screenshot {
    float: right;
    height: 7em;
    width: 7em;
    padding: 0.7em;
}

.app_techs {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: 2.3em;
    padding: 1em;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: #7C565B;*/
    background-color: #808080;
    position: absolute;
    margin-right: none;
}

footer h2 {
    font-size: 1.4em;
    padding-left: 10px;
    /*color: #ebebeb;*/
}